# BATS is used to run unit and integration test.
# Specify a Docker image that contains BATS here.
BATS_DOCKER_IMAGE=change me

# Shellcheck is used for linting shell scripts.
# Specify the Docker image to use for that here.
SHELLCHECK_DOCKER_IMAGE=change me

# Terraform is used to deploy infrastructure into your cloud provider of choice.
TERRAFORM_DOCKER_IMAGE=change me

# Specify the version of Hugo to use.
# Note that some themes and other features are version-pinned.
HUGO_VERSION=change me

# The URL to host Hugo on.
# By default, this will be http://localhost during local dev.
HUGO_BASE_URL=change me

# The theme to load.
# Note that the repository for the theme must exist in site/themes.
HUGO_THEME=change me

# You can define Hugo variables here as well, per Hugo's documentation.
# The Hugo renderer will automatically pick them up and use them to configure
# your site. Please note that our Hugo implementation *does not* generate a
# config.toml for you right now.
# 
# You can also define any environment variables you wish to use within your
# posts. To access them, use the 'getenv' function.
#
# Here are a few examples used in my .env.
HUGO_ENABLEEMOJI=change me
HUGO_GOOGLEANALYTICS=change me
HUGO_LANGUAGECODE=change me
HUGO_PAGINATE=change me
HUGO_TITLE=change me
LINKEDIN_HANDLE=change me
TWITTER_HANDLE=change me
EMAIL_ADDRESS=change me
