BATS_DOCKER_IMAGE=graze/bats

# You can define Hugo variables here as well, per Hugo's documentation.
# The Hugo renderer will automatically pick them up and use them to configure
# your site.

# You can also define any environment variables you wish to use within your
# posts. To access them, use the 'getenv' function.
