# The name of the environment; used for infrastructure.
ENVIRONMENT=change me

# This codebase supports multiple cloud providers.
# Define the one that you'd like to use here.
# NOTE: Terraform code for each provider lives in 'infrastructure/$provider'
INFRASTRUCTURE_PROVIDER=change me

# The URL to host Hugo on.
# By default, this will be http://localhost during local dev.
# If you are using AWS, this variable is also exposed to Terraform so that the
# S3 bucket name matches the name of the site.
HUGO_BASE_URL=change me


# If you want to use AWS, define the below.
AWS_ACCESS_KEY_ID=change me
AWS_SECRET_ACCESS_KEY=change me
AWS_REGION=change me
TERRAFORM_STATE_S3_BUCKET_NAME=change me
TERRAFORM_STATE_S3_BUCKET_KEY=change me
TF_VAR_vpc_cidr=change me
TF_VAR_number_of_azs=change me
TF_VAR_private_vpc_subnet_cidrs=change me
TF_VAR_public_vpc_subnet_cidrs=change me

# We also support deploying to Cloudfront. This can take a while, however.
# Uncomment the line below if you want users to access your S3 bucket directly.
# TF_VAR_enable_cloudfront_cdn=false

# BATS is used to run unit and integration test.
# Specify a Docker image that contains BATS here.
BATS_DOCKER_IMAGE=change me

# Shellcheck is used for linting shell scripts.
# Specify the Docker image to use for that here.
SHELLCHECK_DOCKER_IMAGE=change me

# Terraform is used to deploy infrastructure into your cloud provider of choice.
TERRAFORM_DOCKER_IMAGE=change me

# Specify the version of Hugo to use.
# Note that some themes and other features are version-pinned.
HUGO_VERSION=change me

# The theme to load.
# Note that the repository for the theme must exist in site/themes.
HUGO_THEME=change me

# Some public information about your blog
HUGO_TITLE=change me
HUGO_DESCRIPTION=change me

# You can define Hugo variables here as well, per Hugo's documentation.
# The Hugo renderer will automatically pick them up and use them to configure
# your site. Please note that our Hugo implementation *does not* generate a
# config.toml for you right now.
#
# 
# You can also define any environment variables you wish to use within your
# posts. To access them, use the 'getenv' function.
#
# Here are a few examples used in my .env.
HUGO_ENABLEEMOJI=change me
HUGO_GOOGLEANALYTICS=change me
HUGO_LANGUAGECODE=change me
HUGO_PAGINATE=change me
LINKEDIN_HANDLE=change me
TWITTER_HANDLE=change me
EMAIL_ADDRESS=change me
